html {
    background-color: rgb(227, 203, 172);
    font-family: 'Abril Fatface', cursive;
}

#header {
    color: rgb(15, 75, 55);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}